.navBarContainer {
  display: flex;
  background-color: #f9a533;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between;
  box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px;
}

.navBarLeftContent {
  display: flex;
}

.navBarRightContent {
  padding: 0.5rem 1rem;
}

.logo {
  width: 100px;
  height: 80px;
}

.btnsContainer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.navItem {
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #1c292f;
  cursor: pointer;
}

.navItem:hover {
  color: #1c292f;
}

.navItem.active:hover {
  color: white;
  cursor: default;
}

.navItem.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -22px;
  width: 100%;
  height: 5px;
  background-color: #1c292f;
  border-radius: 2px;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.faIcon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  color: #1c292f;
}

.hamburgerContainer {
  display: none;
  position: relative;
}

.mobileMenu {
  position: absolute;
  top: 50px;
  right: -15px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px;
  background-color: #f9a533;
  z-index: 10;
}

@media (max-width: 480px) {
  .logoutContainer,
  .btnsContainer {
    display: none;
  }

  .navBarContainer {
    padding: 0 1rem;
  }

  .hamburgerContainer {
    display: block;
  }

  .faIcon {
    margin-top: 1rem;
  }

  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navItem.active::after {
    bottom: 0px;
  }
}
