.content {
    width: 100vw;
    padding: 0 3rem;
    box-sizing: border-box;
    
}
.app{
    width: 100vw;
    height: 100vw;
    background-color: #F0DBA9;
}

input,
select,
textarea {
    font-size: 16px;
}

@media (max-width: 480px) {
    .content {
        width: 100dvw;
        height: 100dvh;

    }
    .app{
        width: 100dvw;
        height: 100dvh;
    }
}